<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
	<Section name="NHibernateSettings">
		<!-- .// Microsoft SQL Server 2008 ****************************************
		<Parameter name="dialect" value="NHibernate.Dialect.MsSql2008Dialect,NHibernate" />
		<Parameter name="driver" value="NHibernate.Driver.Sql2008ClientDriver,NHibernate" />
		<Parameter name="connectionString" value="Data Source=ME002081;Initial Catalog=ForTest;Integrated Security=True" />
		**************************************** Microsoft SQL Server 2008 .// -->

		<!-- .// SQLite 3 **************************************** -->
		<Parameter name="dialect" value="NHibernate.Dialect.SQLiteDialect,NHibernate" />
		<Parameter name="driver" value="NHibernate.Driver.SQLite20Driver,NHibernate" />
		<Parameter name="connectionString" value="Data Source=|DataDirectory|database.s3db;Version=3;Page Size=1024;" />
		<!-- **************************************** SQLite 3 .// -->
	</Section>
</Configuration>